<header class="header">
  <div class="header__container">
    <div class="header__body">
      <div class="header__burger burger">
        <div class="burger__wrapper">
          <span></span>
        </div>
      </div>
      <nav class="header__nav">
        <ul class="header__list">
          <li class="header__item">
            <a class="header__link-open" href="#">
              <span class="header__item-open">КАТАЛОГ</span>
              <span class="header__open-icon">
                <svg width="13" height="8" viewBox="0 0 13 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path id="Vector"
                    d="M11.4671 -1.45631e-07L6.5 4.94673L1.53293 -1.94682e-08L-2.45768e-08 1.52661L6.5 8L13 1.52661L11.4671 -1.45631e-07Z"
                    fill="#0F0F0F" />
                </svg>
              </span>
            </a>
          </li>
          <li class="header__item"><a href="#">SALE</a></li>
          <li class="header__item"><a href="#">О НАС</a></li>
          <li class="header__item"><a href="#">ОТЗЫВЫ</a></li>
          <li class="header__item"><a href="#">ДОСТАВКА И ОПЛАТА</a></li>
          <li class="header__item"><a href="#">КОНТАКТЫ</a></li>
        </ul>
        <a class="header__logo" href="index.html" aria-label="Logotype Hector"><i class="logo"></i></a>
        <ul class="header__bar-list">
          <li class="header__bar-item"><button class="header__bar-btn"><span class="visually-hidden">Search</span><i
                class="search"></i></button></li>
          <li class="header__bar-item"><button class="header__bar-btn"><span class="visually-hidden">Favorites</span><i
                class="favorite"></i></button></li>
          <li class="header__bar-item"><button class="header__bar-btn"><span class="visually-hidden">Busket</span><i
                class="basket"></i></button></li>
          <li class="header__bar-item"><button class="header__bar-btn"><span class="visually-hidden">User</span><i
                class="user"></i></button></li>
        </ul>
      </nav>
      <a class="header__logo-mob" href="index.html" aria-label="Logotype Hector"><i class="logo"></i></a>
    </div>
  </div>
</header>