<header class="header">
  <div class="header__container">
    <div class="header__body">
      <div class="header__burger burger">
        <div class="burger__wrapper">
          <span></span>
        </div>
      </div>
      <nav class="header__nav">
        <ul class="header__list">
          <li class="header__item"><a href="#"><span>КАТАЛОГ</span><i class="arrow"></i></a></li>
          <li class="header__item"><a href="#">SALE</a></li>
          <li class="header__item"><a href="#">О НАС</a></li>
          <li class="header__item"><a href="#">ОТЗЫВЫ</a></li>
          <li class="header__item"><a href="#">ДОСТАВКА И ОПЛАТА</a></li>
          <li class="header__item"><a href="#">КОНТАКТЫ</a></li>
        </ul>
        <a class="header__logo" href="index.html"><i class="logo"></i></a>
        <ul class="header__bar-list">
          <li class="header__bar-item"><button class="header__bar-btn"><i class="search"></i></button></li>
          <li class="header__bar-item"><button class="header__bar-btn"><i class="favorite"></i></button></li>
          <li class="header__bar-item"><button class="header__bar-btn"><i class="basket"></i></button></li>
          <li class="header__bar-item"><button class="header__bar-btn"><i class="user"></i></button></li>
        </ul>

      </nav>

    </div>
  </div>
</header>