.btn {
   cursor: pointer;
   padding: 25px 85px 26px 90px;
   background-color: transparent;
   letter-spacing: 2.7px;
   @include fz(18);
   line-height: normal;
   border: 1px solid $dark;
   max-width: 400px;
   min-height: 40px;
   max-height: 70px;
   transition: all 0.2s ease;

   &:hover {
      background-color: $dark;
      color: $white;
   }
}

.btn-prod {
   margin: 0 auto;
   cursor: pointer;
   padding: 25px 70px 26px;
   background-color: transparent;
   letter-spacing: 1.26px;
   @include fz(18);
   border: 1px solid $dark;
   max-width: 450px;
   min-height: 40px;
   max-height: 70px;
   transition: all 0.2s ease;
   text-transform: uppercase;

   &:hover {
      background-color: $dark;
      color: $white;
   }
}

.btn-show {
   color: $white;
   background-color: transparent;
   margin: 0 auto;
   cursor: pointer;
   padding: 25px 70px 26px;
   letter-spacing: 1.26px;
   @include fz(18);
   border: 1px solid $white;
   max-width: 450px;
   min-height: 40px;
   max-height: 70px;
   transition: all 0.2s ease;
   text-transform: uppercase;

   &:hover {
      background-color: $white;
      color: $dark;
   }
}


.btn-subscribe {
   color: $white;
   background-color: $black;
   cursor: pointer;
   padding: 25px 110px 26px;
   font-weight: 700;
   letter-spacing: 1.26px;
   @include fz(18);
   border: 1px solid $white;
   max-width: 450px;
   min-height: 40px;
   max-height: 70px;
   transition: all 0.2s ease;
   text-transform: uppercase;

   &:hover {

      background-color: $white;
      color: $dark;
      border: 1px solid $dark;
   }
}