.btn {
   cursor: pointer;
   padding: 25px 85px 26px 90px;
   background-color: transparent;
   letter-spacing: 2.7px;
   @include fz(18);
   line-height: normal;
   border: 1px solid $dark;
   // max-width: 500px;
   min-height: 40px;
   transition: all 0.2s ease;

   @media (max-width: 750px) {
      padding: 15px 30px;
   }

   @media (max-width: 899px) {
      padding: 20px 55px 21px 55px;
   }

   @media (max-width: 1299px) {
      flex-grow: 1;
   }

   &:hover {
      background-color: $dark;
      color: $white;
   }
}

.btn-prod {
   margin: 0 auto;
   cursor: pointer;
   padding: 25px 70px 26px;
   background-color: transparent;
   letter-spacing: 1.26px;
   @include fz(18);
   border: 1px solid $dark;
   transition: all 0.2s ease;
   text-transform: uppercase;

   @media (max-width: 767px) {
      padding: 23px 20px 24px;
   }

   &:hover {
      background-color: $dark;
      color: $white;
   }
}

.btn-show {
   color: $white;
   background-color: transparent;
   margin: 0 auto;
   cursor: pointer;
   padding: 25px 70px 26px;
   letter-spacing: 1.26px;
   @include fz(18);
   border: 1px solid $white;
   max-width: 450px;
   min-height: 40px;
   max-height: 70px;
   transition: all 0.2s ease;
   text-transform: uppercase;

   @media (max-width: 499px) {
      padding: 17px 40px 18px;
   }

   &:hover {
      background-color: $white;
      color: $dark;
   }
}


.btn-subscribe {
   color: $white;
   background-color: $black;
   cursor: pointer;
   padding: 25px 110px 26px;
   font-weight: 700;
   letter-spacing: 1.26px;
   @include fz(18);
   border: 1px solid $white;
   max-width: 450px;
   min-height: 40px;
   max-height: 70px;
   transition: all 0.2s ease;
   text-transform: uppercase;

   &:hover {

      background-color: $white;
      color: $dark;
      border: 1px solid $dark;
   }
}

.btn-pop-up {
   cursor: pointer;
   max-width: 292px;
   width: 100%;
   padding: 25px 20px 22px;
   font-weight: 700;
   line-height: normal;
   letter-spacing: 1.26px;
   @include fz(18);
   border: 3px solid $dark;

   @media (max-width: 767px) {
      flex-grow: 1;
      max-width: none;
   }
}

.btn-pop-up2 {
   cursor: pointer;
   max-width: 292px;
   width: 100%;
   padding: 25px 20px 22px;
   font-weight: 700;
   line-height: normal;
   letter-spacing: 1.26px;
   @include fz(18);
   border: 3px solid $dark;
   background-color: $dark;
   color: $white;

   @media (max-width: 767px) {
      flex-grow: 1;
      max-width: none;
   }
}

.btn-pop-up3 {
   cursor: pointer;
   width: 100%;
   padding: 24px 25px 23px;
   background-color: $dark;
   color: $white;
}