.pop-up {
   &.active {
      z-index: 100;
      opacity: 1;
      visibility: visible;
      overflow: hidden;
   }

   background-color: rgba(15, 15, 15, 0.8);
   position: fixed;
   height: 100%;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 0;
   visibility: hidden;
   opacity: 0;
   transition: all 0.3s ease 0s;

   &__wrap {
      padding: 40px 30px 0;
      display: flex;
      justify-content: center;
      width: 100%;
      max-height: 100%;
      position: relative;
   }

   // .pop-up__body

   &__body {
      width: 100%;
      min-height: 100%;
      max-width: 697px;
      padding: 50px;
      border: 3px solid $dark;
      background: $white;
      max-height: calc(100% - 100px);
      overflow-y: auto;
      overflow-x: hidden;

      @media (max-width: 767px) {
         padding: 5%;
      }
   }

   // .pop-up__btn-close

   &__btn-close {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: $white;
      width: 40px;
      height: 40px;
      border: 3px solid $dark;
      border-radius: 50%;
      position: absolute;
      top: 20px;
      right: 13px;
      z-index: 1;
   }

   // .pop-up__close-elem

   &__close-elem {
      display: block;
      background-color: $dark;
      height: 2px;
      width: 20px;

   }

   &__close-elem:first-child {
      transform: translate(0px, 1px) rotate(45deg);
   }

   &__close-elem:last-child {
      transform: translate(0px, -1px) rotate(-45deg);
   }

   &__content {
      padding: 0 100px;

      @media (max-width: 425px) {
         padding: 0;
      }

      @media (max-width: 767px) {
         padding: 0 7%;
      }
   }

   // .pop-up__block-ckeck

   &__block-check {
      display: flex;
      gap: 17px;
      margin-bottom: 31px;

      @media (max-width: 767px) {
         flex-wrap: wrap;
      }
   }

   &__block-field {
      display: flex;
      flex-direction: column;
      gap: 31px;
      margin-bottom: 54px;

      @media (max-width: 767px) {
         gap: 20px;
      }
   }

   // .pop-up__field

   &__field {
      padding: 14px 10px 14px 0;
      border-bottom: 3px solid $dark;
      width: 100%;
   }
}