.stars {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;

    &__star {
        cursor: pointer;
        width: 26px;
        height: 24px;

        svg {
            path {
                fill: transparent;
                stroke: $dark;
                stroke-width: 2px;
            }
        }
    }
}



.stars__star.active {
    svg {
        path {
            fill: $dark;
        }
    }
}