.swip {
    overflow: hidden;
    // Для изминения собственной ширины
    // .swiper-slide {
    //     width: auto;
    // }

    // .hero__body

    &__body {
        display: flex;
    }

    // .hero__block

    &__block:first-child {
        background-color: royalblue;
    }

    &__block:nth-child(2) {
        background-color: mediumorchid;
    }

    &__block:nth-child(3) {
        background-color: lightcoral;
    }

    &__block:nth-child(4) {
        background-color: rebeccapurple;
    }

    &__block:nth-child(5) {
        background-color: crimson;
    }



    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        // Для изминения собственной ширины
        // width: 300px;
        min-height: 300px;

        p {
            text-align: center;
            color: $white;
            @include fl(25, 25);
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
    }
}