.show {
    position: relative;


    // .show__picture

    &__picture {
        // position: absolute;
        // padding-bottom: 30%;
        width: 100%;
        z-index: 1;

        img {
            z-index: 1;
            position: absolute;
            object-fit: contain;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
    }

    // .show__overlay

    &__overlay {
        background-color: $black;
        opacity: 0.5;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        transition: all 0.2s ease 0s;
    }

    // .show__content

    &__content {
        z-index: 3;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
        min-height: 450px;
        padding: 0 15%;

        @media (max-width: 499px) {
            padding: 0 5%;
        }
    }

    // .show__subtitle

    &__subtitle {
        font-weight: 700;
        letter-spacing: 2.52px;
        @include fz(36);
        color: $white;
        text-align: center;

        @media (max-width: 499px) {
            @include fz(30);
        }
    }

    // .show__taxt

    &__text {
        text-align: center;
        @include fz(18);
        color: $white;
        letter-spacing: 1.26px;
    }

    &:hover {
        .show__overlay {
            @media (min-width: 1000px) {
                opacity: 0.8999999761581421;
            }
        }
    }
}