<div class="card">
  <span class="card__discount">NEW</span>
  <div class="card__picture">
    <picture>
      <source type="image/webp" srcset="@img/gallery/card.webp">
      <img src="@img/gallery/card.jpg" alt="man" loading="lazy">
    </picture>
  </div>
  <div class="card__elements">
    @@include('_stars.html')
    <div class="card__sizes">
      <button class="card__btn">S</button>
      <button class="card__btn">M</button>
      <button class="card__btn">L</button>
    </div>
  </div>
  <p class="card__desc">Футболка мужская Exclusive 22032 </p>
  <span class="card__cost">245₴</span>
</div>