<div class="catalog-col">
  <h3 class="catalog-col__subtitle">@@subtitle</h3>
  <div class="catalog-col__text-block">
    <p class="catalog-col__text"><a href="#" class="catalog-col__link">@@text1</a></p>
    <p class="catalog-col__text"><a href="#" class="catalog-col__link">@@text2</a></p>
    <p class="catalog-col__text"><a href="#" class="catalog-col__link">@@text3</a></p>
    <p class="catalog-col__text"><a href="#" class="catalog-col__link">@@text4</a></p>
    <p class="catalog-col__text"><a href="#" class="catalog-col__link">@@text5</a></p>
    <p class="catalog-col__text"><a href="#" class="catalog-col__link">@@text6</a></p>
  </div>
</div>