<div class="pop-up-password">
  <div class="pop-up-password__wrap">
    <div class="pop-up-password__body">
      <button class="pop-up-password__btn-close">
        <span class="pop-up-password__close-elem"></span>
        <span class="pop-up-password__close-elem"></span>
      </button>
      <div class="pop-up-password__content">
        <div class="pop-up-password__block-field">
          <input class="pop-up-password__field" type="email" name="" placeholder="Введите email">
        </div>
        @@include('_btn.html', {
        'text': 'ВОССТАНОВИТЬ',
        'class': 'btn-pop-up3'
        })
      </div>
    </div>
  </div>
</div>