<div class="swip swiper">
  <div class="swip__body swiper-wrapper">
    <div class="swip__block swiper-slide">
      <div class="swip__content">
        <p>Must be many content</p>
      </div>
    </div>
    <div class="swip__block swiper-slide">
      <div class="swip__content">
        <p>Must be many content</p>
      </div>
    </div>
    <div class="swip__block swiper-slide">
      <div class="swip__content">
        <p>Must be many content</p>
      </div>
    </div>
    <div class="swip__block swiper-slide">
      <div class="swip__content">
        <p>Must be many content</p>
      </div>
    </div>
    <div class="swip__block swiper-slide">
      <div class="swip__content">
        <p>Must be many content</p>
      </div>
    </div>
  </div>
</div>